*,
*::before,
*::after {
    box-sizing: border-box;
}

.desktop-container {
    max-width: 1440px;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}

.header {
    max-width: 1280px;
    min-height: 36px;
    flex-shrink: 0;

}

.navigation {
    display: inline-flex;
    align-items: center;
    gap: 28px;
}

ul, a, li{
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    gap: 10rem;
}

.hero {
    display: flex;
    max-width: 1120px;
    min-height: 519px;
}

.cta {
    display:flex;
    flex-direction: row;
    max-width: 1120px;
    min-height: 519px;
    flex-shrink: 0;
}

.figure {
    object-fit: contain;
}

.cta-1 {
    color: var(--Pink, #FF3998);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
}

.cta-2 {
    color: var(--Dark-1, #111);
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.cta-3 {
    color: var(--Dark-2, #555);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.upsell-container {
    max-width: 1280px;
    min-height: 320px;
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 10px;
}

.offer-1 {
    position: absolute;
    bottom: 9rem;
    left: 16px;
    font-size: xx-large;
    margin-left: 20px;
}

.offer-2 {
    position: absolute;
    bottom: 5rem;
    left: 16px;
    margin-left: 20px;
}

.offer-3 {
    font-size: xx-large;
}

.press {
    max-width: 1280px;
    min-height: 49px;
}

.press-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.showcase {
    max-width: 1280px;
    min-height: 558px;
    flex-shrink: 0;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    width: 290px;
    height: 400px;
}

.card-gray {
    display:inline-block;
    width: 100%;
    border-radius: 16px 0px 16px;
    background: var(--Light-2, #EEE);
    margin-top: 0;
}

.card-1-image,
.card-2-image,
.card-3-image,
.card-4-image {
    display: block;
    width: 290px;
    height: 278px;
    margin-bottom: 0;
}

.svg-frame {
    width: 100%;
    position: relative;
}


.footer-upsell {
    display: flex;
    max-width: 1280px;
    min-height: 554px;
}

.footer-upsell-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.text-1 {
    color: var(--Pink, #FF3998);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.text-2 {
    color: var(--Dark-1, #111);
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text-3 {
    color: var(--Dark-2, #555);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}


.list-1 {
    list-style-type: none;
}

.list-2 {
    list-style-type: none;
}

.list-3 {
    list-style-type: none;
}

.list-4 {
    list-style-type: none;
}

.list-5 {
    display: flex;
    list-style-type: none;
}

.footer {
    max-width: 1280px;
    min-height: 401px;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: row;
}

.footer-main-menu {
    padding-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-menu-link {
    color: gray;
    text-decoration-line: none;
}